<!--This page is about page which shows the details about the page-->
<!doctype html>
<html lang="en">
  <head>
    <title>About <%=shopName%></title>
    <!--Linking the CSS for the file-->
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <a href="/"><%=shopName%></a></h1>
    <p>We sell all sorts of books and nothing else!</p>
  </body>
</html>